@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background: url("../images/background.png");
    font-family: "Poppins", sans-serif !important;
}
.logo {
    color: #000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Ma Shan Zheng", cursive;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
label {
    color: #000;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.form-group {
    margin-top:20px;
}
input{
    border-radius:8px !important;
    height:76px !important;
}
.register-text {
    color: #000;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}
.register-text span {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
